.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  gap: 15.125rem;
}

@media screen and (max-width: 1000px) {
  .main {
    flex-direction: column;
    gap: 4rem;
  }
}
