* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(
    90deg,
    #ff0000 5.21%,
    #ff8a00 16.48%,
    #ffe600 27.74%,
    #14ff00 39.35%,
    #00a3ff 49.37%,
    #0500ff 61.18%,
    #ad00ff 72.26%,
    #ff00c7 83.53%,
    #ff0000 94.61%
  );
  --white: #ffffff;
  --purple-100: #8b03fb;
  --purple-200: #8703fc;
  --black-200: #151515;
  --gray: #d9d9d9;
  --black-100: #242424;
}

body {
  height: 100dvh;
  background: var(--black-100);

  display: flex;
  align-items: center;
  justify-content: center;
}
