* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --base-white: #ffffff;
  --base-gray-100: #e1e1e6;
  --base-gray-200: #8d8d99;
  --base-gray-300: #7c7c8a;
  --base-gray-400: #323238;
  --feedback-sucess-color: #1d8841;
  --produto-purple-light: #8257e5;
  --produto-purple-mid: #633bbc;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--base-white);
  margin: 0 auto;
  height: 100dvh;
}

.text-regular-16 {
  font-size: 1rem;
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
}
.text-bold-16 {
  font-size: 1rem;
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
}
