.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.listBox {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-top: 2rem;

  width: 23rem;
  height: 28rem;
  overflow-y: scroll;
}

.contactStructure {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contactIndexLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--purple-500);
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 0.5rem;
}

.contactBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--gray-50);
  gap: 2rem;
}

.photoPerson {
  width: 4rem;
  height: 4rem;
}

.infoContact {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
