.main {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 6rem;
  border-radius: 1rem;
  background: var(--cores-cinza-dark);
  box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);
}

.posters {
  display: flex;
  align-items: center;
  gap: 2.12rem;
}

@media screen and (max-width: 1200px) {
  .box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
  }
  .posters {
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
