.screen {
  width: 60rem;
  height: 33.75rem;
  border-radius: 32px;
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05);
  margin: 1.5rem;
  background: url("../../../../public/images/screen.png");
}

@media (max-width: 1070px) {
  .screen {
    width: auto;
    height: auto;
    overflow-y: hidden;
  }
}
