* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-50: #e1e1e6;
  --purple-50: #8c8cba;
  --blue-100: #0088b3;
  --green-200: #07847e;
  --purple-100: #633bbc;
  --purple-200: #282843;
  --purple-300: #24243d;
  --purple-400: #1a1924;
  --purple-500: #16151e;
  --pink-100: #9a00b3;
  --yellow-200: #b38c00;
}

body {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background: var(--purple-400);
}

/* Set the width and height of the scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Customize the background color of the scroll bar */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Customize the appearance of the scroll thumb */
::-webkit-scrollbar-thumb {
  background: var(--purple-200);
  border-radius: 5px;
}

/* Change the appearance of the scroll thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
