.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.box {
  display: flex;
  width: 60rem;
  padding: 3.75rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow-x: hidden;

  border-radius: 2rem;
  border: 1px solid var(--gray-04, #334155);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.453);
  background: rgba(2, 6, 23, 0.8);
}

.divider {
  width: 100%;
  border: 0.0625rem solid var(--gray-04);
}

@media screen and (max-width: 1000px) {
  .box {
    width: 100%;
    padding: 1rem;
  }
}
