.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    gap: 20px;
}

.container p {
    width: 320px;
}
