*{
  padding:0;
  margin:0;
  box-sizing:border-box;
} 
:root{
  --base: 260;
  --background-body: hsla(var(--base), 19%, 6%, 1);
  --background-player: hsla(var(--base), 33%, 19%, 1);
  --buttons-color: hsla(var(--base), 9%, 89%, 1);
  --info-color: hsla(var(--base), 7%, 78%, 1);
  font-size: 62.5%;
}
.hide{
  display: none;
}
body{
  display: grid;
  font-size: 16px;
  background: var(--background-body);
  justify-content: center;
  min-height: 100vh;
  position: relative;
}
body, #start, #end{
  font-family: 'Roboto', sans-serif;
}
main{
  display: grid;
  align-self: center;
  max-width: 65.7rem;
  grid: "playerOne playerTwo"
        "playerOne playerThree";
  grid-gap: clamp(1rem,1rem + 2vw, 3.2rem);
}
.playerOne, .playerTwo, .playerThree{
  background-color: var(--background-player);
  border-radius: 1rem;
}
.playerTwo, .playerThree{
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding: 2.9rem;
}
.playerOne{
  grid-area: playerOne;
  padding: 3.8rem;
  max-width: 26.7rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.playerOne img{
  width: 190px;
  border-radius: 6px;
}
.playerTwo{
  grid-area: playerTwo;
  max-width: 35.7rem;
  max-height: 26.7rem;
}
.playerTwo img, .playerThree img{
  width: 84px;
  border-radius: 6px;
}
.playerThree{
  grid-area: playerThree;
  max-width: 35.7rem;
  max-height: 20rem;
}
.album{
  display: flex;
  align-items: center;
  gap: 2.9rem;
}
h2{
  font size: clamp(1.5rem,2rem + 8vw,2.4rem);
  color: var(--buttons-color);
  margin-bottom: 1rem;
}
p{
  font size: clamp(1rem, 1.5rem + 8vw, 1.9rem);
  color: var(--info-color);
  opacity: 0.7;
}
button{
  cursor: pointer;
  background: transparent;
  border: none;
  height: clamp(1.8rem,2rem + 5vw,2.8rem);
}
.buttons{
  display: flex;
  justify-content: space-between;
}
.duration{
  width: 100%;
}
.bar{
  width: 100%;
  height: 0.6rem;
  background-color: var(--info-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
progress{
  position: absolute;
  height: 100%;
  width:0%;
  background-color: var(--info-color);
}
.timer{
  font-size: 1.4rem;
  color: var(--info-color);
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
footer{
  position: absolute;
  top:10%;
  right: 5%;
}
svg path{
  fill: var(--buttons-color);
}
svg path:hover{
  fill: var(--info-color);
  opacity: 0.3;
}
video{
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: -500;
  opacity: 0.5;
}
.opacity{
  opacity: 0;
}
@media (max-width: 700px){
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    position: relative;
  }
  footer{
    position: absolute;
  }
}
